body{
 color:black;
 font-size:25px;
}
td,tr,th{
 border:1px solid black;
 border-collapse: collapse;
 cursor:all-scroll;
}
table{
 border-collapse: collapse;
 -webkit-user-select: none; /* Safari */
 -ms-user-select: none; /* IE 10+ and Edge */
 user-select: none; /* Standard syntax */
 margin:0 auto;
}
.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	position: absolute;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -150px;
}